* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #0f1011;
}

header { 
    background-color: #11f1d4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

header nav a {
    color: #fdfdfd;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;

}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.botao {
    background-color: #11f1d4;
    border-radius: 8px;
    color: #fdfdfd;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #11f1d4;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #11f1d4;
    border-bottom: 1px solid #11f1d4;
    border-left: 1px solid #11f1d4;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer {
    background-color: #11f1d4;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #212a30;
    display: block;
    margin: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color: #212a30;
    text-decoration: none;
}

#copyright {
    background-color: #212a30;
    color: #fdfdfd;
    padding: 24px;
    text-align: center;
}

#copyright a {
    color: #11f1d4;
}
